@import '../../styles.scss';


.navbar, .offcanvas-header{
    background-color: $primary-color;
}
.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba%280, 0, 0, 1%29" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
  }

.offcanvas{
    width: 70%;
}

.cursor-pointer {
    cursor: pointer;
  }
  
  .card-title {
    font-size: 1.3rem;
    font-weight: bold;
    padding-top: 20px;
    
  }
  
  .card-fixed-height {
    height: 80vh; /* Sets the fixed height to 80% of viewport height */
  }
  
  .list-group-item {
    font-size: 1rem;
    padding: 10px 15px;
    border: none; /* Removes the border */
    transition: 0.1s ease-in;
    cursor: pointer;
    
  }
  .list-group-item:hover{
    background-color: $secondary-color;
    border-radius: 10px;
    font-weight: bold;
  }
  .list-group-item.active {
    background-color: transparent !important;
    font-weight: bold;
    color: black;
  }
  
  .list-group-item a {
    text-decoration: none;
    color: black; /* Sets the text color to black */
  }
  
  
  .list-group {
    padding-top: 5px;
  }
  
  /* change the bg color of the table headers */
  .custom-thead {
    background-color: #007bff; /* Bootstrap primary color */
    color: white;
  }
  
  /*add an scroll when overflow*/ 
  .scrollable-card{
    overflow-y: auto;
  }
  