
.custom-chart-height{
    height: 400px !important;
}
.custom-card-height{
    height: 200px !important;
    
}
.custom-pie-height{
    height: 300px !important;
    width: 50%;
}
.custom-width{
    width: 80% !important;
}

